.DS_Store
node_modules
/dist
.nuxt
.output
ESCOLA_FRONT/.nuxt
ESCOLA_FRONT/.output
ESCOLA_FRONT/.nuxtrc
ESCOLA_FRONT/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos .net
bin
obj
Backend_API/form-dev.db*
Backend_API/logs/*
!Backend_API/logs/.gitkeep
