.DS_Store
node_modules
/dist
.nuxt
.output
project_form/.nuxt
project_form/.output
project_form/.nuxtrc
project_form/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos .net
bin
obj
Backend_API/form-dev.db*
